<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button btn " for="all">All</label>

  <input type="radio" id="language" name="filter" />
  <label class="filter-button btn " for="language">Languages</label>


  <input type="radio" id="tool" name="filter" />
  <label class="filter-button btn " for="tool">Tools</label>
  
  <input type="radio" id="strength" name="filter" />
  <label class="filter-button btn " for="strength">Strengths</label>

  {% for language in site.data.skills-languages %}
  <div skill-type="language" skill-weight="{{language.weight}}" data-aos="zoom-in">
    {{language.name}}
  </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
  <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">
    {{tool.name}}
  </div>
  {% endfor %}
  {% for strength in site.data.skills-strengths %}
  <div skill-type="strength" skill-weight="{{strength.weight}}" data-aos="zoom-in">
    {{strength.name}}
    </div>
  {% endfor %}
</div>