<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}-{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  {% include head/custom.html %}

  <link rel="stylesheet" href="{{ '/assets/css/neumorphism.css' | relative_url }}">
  <script src="{{ '/assets/js/neumorphism.min.js' | relative_url }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include neumorphism/landing-page.html %}
  {% include masthead.html %}
  <div class="layout">
    {%if site.show_aboutme_card %}
    <section class="card neumorphism-card-big">
      {% include neumorphism/section-aboutme.html %}
    </section>
    {% endif %}
    {%if site.show_skills_card %}
    <section class="card neumorphism-card-big">
      {% include neumorphism/section-skills.html %}
    </section>
    {% endif %}
    {%if site.show_timeline_card %}
    <section class="card neumorphism-card-big">
      {% include neumorphism/section-timeline.html %}
    </section>
    {% endif %}
    {%if site.show_projects_card %}
    <section class="card neumorphism-card-big">
      {% include neumorphism/section-projects.html %}
    </section>
    {% endif %}
    {%if site.show_contact_card %}
    <section class="card neumorphism-card-big">
      {% include neumorphism/section-contact.html %}
    </section>
    {% endif %}
  </div>
  {% include footer.html %}
</body>

</html>